@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

body.dark-mode {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-1 {
  box-shadow: 4px 8px 0px 0px rgba(253,191,15,1);
  -webkit-box-shadow: 4px 8px 0px 0px rgba(253,191,15,1);
  -moz-box-shadow: 4px 8px 0px 0px rgba(253,191,15,1);
}

.shadow-2 {
  box-shadow: -25px -25px 0px 0px rgba(58,184,235,1);
  -webkit-box-shadow: -25px -25px 0px 0px rgba(58,184,235,1);
  -moz-box-shadow: -25px -25px 0px 0px rgba(58,184,235,1);
}

.shadow-3 {
  box-shadow: 4px 4px 0px 0px #676767;
  -webkit-box-shadow: 4px 4px 0px 0px #676767;
  -moz-box-shadow: 4px 4px 0px 0px #676767;
}

.embla__slide {
  flex: 0 0 10%;
  min-width: 0;
}
